:root {
  color-scheme: light dark;
  --font-heading: system-ui, sans-serif;
  --font-body: system-ui, sans-serif;
}

body {
  margin: 0;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

html,
body {
  max-width: 100vw;
  background: var(--background);
  scrollbar-gutter: stable;
}


html:has(.body-scrollable),
body:has(.body-scrollable) {
  overflow: auto;
}

/* fixes prod content not fitting frame */
body > :is(.css-175oi2r, .css-view-175oi2r),
body
  > :is(.css-175oi2r, .css-view-175oi2r)
  > span
  > :is(.css-175oi2r, .css-view-175oi2r) {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* fix safari adjusting some random font sizes bigger */
@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

/* css reset this because we always want to set our own focus styles */
*:focus,
*:focus-within,
*:focus-visible {
  outline: none;
  outline-width: 0px;
  outline-color: transparent;
  outline-style: none;
}

/* specifically target form elements that often have browser defaults */
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus,
[tabindex]:focus,
[contenteditable]:focus {
  outline: none;
  box-shadow: none;
}

/* default links to not underline */
a {
  text-decoration: none;
  text-decoration-thickness: 0px;
}

/* but if in a paragraph then underline */
.is_Paragraph a,
p a,
[data-tint-link],
.t_Link:not(:has(div, span)) {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color0075);
  text-underline-offset: 4px;
  transition: all ease-in 100ms;
}

a:hover {
  text-decoration-color: var(--color02);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

:root [role="heading"] {
  text-wrap: balance;
}

:root p {
  text-wrap: pretty;
}

/* terminal scrollbar hide */
.terminal-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.terminal-content::-webkit-scrollbar {
  display: none;
}

/* grain texture overlay - svg filter is more efficient than png */
.grain-overlay {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 200px 200px;
}
